<div class="main-product"></div>

{% schema %}
{
  "name": "Main Product",
  "class": "main-product-parent section-spacing-left-right",
  "settings": [
    {
      "type": "image_picker",
      "id": "main_product_image",
      "label": "Main Product Image"
    },
    {
      "type": "richtext",
      "id": "main_product_heading",
      "label": "Main Product Heading"
    },
    {
      "type": "richtext",
      "id": "main_product_details",
      "label": "Main Product Details"
    }
  ],
  "presets": [
    {
      "name": "Main Product"
    }
  ]
}
{% endschema %}
